Source: lpprof
Maintainer: CCN HPC <dsp-cspito-ccn-hpc@edf.fr>
Uploaders: Pierre Trespeuch <pierre-externe.trespeuch@edf.fr>
Section: devel
Priority: extra
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4
Build-Depends: asciidoctor,
               debhelper (>= 9),
	       libslurm-dev,
               dh-python,
               pandoc,
               python3-all,
               python3-setuptools

Package: lpprof
Architecture: any
Depends: linux-base, linux-tools, python3, python3-jinja2, ${misc:Depends}, ${shlibs:Depends}
Description: This package provides Lpprof software.
	     Lpprof is a parrallel profiling software using perf.

Package: lpprof-spank
Architecture: any
Depends: slurm-client, linux-base, linux-tools, ${misc:Depends}, ${shlibs:Depends}
Description: This package provides Lpprof Slurm Spank plugin.
	     This plugin makes it easy to use Lpprof with SLURM
	     scheduler by providing --lpprof_f and --lpprof_r srun
	     arguments.
