Source: lpprof
Maintainer: CCN HPC <dsp-cspito-ccn-hpc@edf.fr>
Uploaders: Pierre Trespeuch <pierre-externe.trespeuch@edf.fr>
Section: devel
Priority: extra
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4
Build-Depends: asciidoctor,
               debhelper (>= 9),
               dh-python,
               libslurm-dev,
               linux-base,
               linux-tools,
               pandoc,
               python3-all,
               python3-setuptools

Package: lpprof
Architecture: any
Depends: python3, python3-jinja2, ${misc:Depends}, ${shlibs:Depends}
Description: This package provides Lpprof software.

Package: lpprof-spank
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package provides Lpprof Slurm Spank plugin.
